body{position: relative;}

.lettersInitial{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 999;
    padding: 10px 2%;
    position: absolute;
    left: 0; top: 0;
    transition: 1s;

    div{
        max-width: 1450px;
        margin: 0 auto;
    }

    h1{
        font-size: 12rem;
        text-transform: uppercase;
        color: #212b46;
        letter-spacing: -8px;
    }

    img{margin: 0 15px;}
}

.curtain {
position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(155deg, #886a08, #d4af37);
    z-index: 9999;
    pointer-events: none;
    transform: translateX(100%);
    transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.curtainLeft {
    left: 0;
    transform: translateX(-100%);
}

.curtainRight {
    right: 0;
    transform: translateX(100%);
}

.curtainLeft.active {
    transform: translateX(0);
    pointer-events: all;
}

.curtainRight.active {
    transform: translateX(0);
    pointer-events: all;
}

.curtain.active {
    transform: translateX(0);
    pointer-events: all;
}

main.dashboardMain{
  display: flex;
  justify-content: space-between;
  background-color: #E5E7EB;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.btnHomeAccount{
    position: absolute;
    left: 60%; top: 50px;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border: 2px solid #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 57px;
    transition: 0.4s;


    &:hover{background-color: rgba(229, 231, 235, 0.467);}
}

.dashboardMain aside.asideDash{
    height: 100%;
    position: relative;
}

.asideDash ul{
    display: flex;

     li{
        height: 100vh;
        writing-mode: vertical-lr;
        rotate: 180deg;
        padding: 20px 10px;
        position: relative;
        white-space: pre;

    &:first-of-type{
        background:linear-gradient(45deg, #edcd63, #d4af37);
        right: -70px;
        view-transition-name: artist-followed;
    }

    &:nth-of-type(2){
        background:linear-gradient(45deg, #c5a230, #927209);
        right: -50px;
    }

    &:nth-of-type(3){
        background:linear-gradient(45deg, #886a08, #645219);
        right: -30px;
    }

    &:last-of-type{
        background:linear-gradient(45deg, #614f13, #52420d);
        right: -10px;   
    }

    & a{
        font-size: 2.7rem;
        color: #e5e7ebd6;
        text-transform: uppercase;
        letter-spacing: -3px;
        display: block;
        transition: 0.4s;

        &:hover{color: #ffffff;}
    }
    }
}

.dashboard_top h1{
    font-size: 8rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    text-transform: uppercase;
    color: #212b46;
    margin-top: 30px;
    user-select: none;
}

.dashboard_wp{width: 100%;}

.dashboard_content .container_dash{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
}

.dash_description h2{
    font-size: 4rem;
    color: #d4af37;
    line-height: 70px;
    max-width: 40px;
}

p.desc{
    margin-top: 30px;
    max-width: 300px;
    text-align: justify;
    font-size: 0.9rem;
}

.btnChat {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #E5E7EB;
  background-color: #212b46;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  display: inline-block;
  margin-top: 10px;

    svg{
    vertical-align: middle;
    position: relative;
    display: inline-block;
    top: -2px;
  }

  &:hover {
    background-color: #2c3c69;
    box-shadow: 0px 15px 20px rgba(44, 60, 105, 0.4);
    color: #fff;
    transform: translateY(-7px);
    }

    &:active {transform: translateY(-1px);}
}

.video{
    width: 400px;
    height: 300px;
    position: relative;
    overflow: hidden;

    video{
        position: absolute;
        left: 0; top: 0;
        width: 100%;
        height: 100%;
    }
}

.desc_videoWp{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

p.desc_video{
    margin-top: 10px;
    max-width: 180px;
    text-align: justify;
    font-size: 0.9rem;
}

span.content_color_desc{
    display: inline-block;
    width: 60px;
    height: 10px;
    background-color: #d4af37;
}

.rating_card {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(75deg, #2c3c69, #212b46);
  padding: 30px;
  border-radius: 10px;
  gap: 10px;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.058);
  position: relative;
}

.text_wrapper {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin-top: 40px;
}

.text_primary {
  font-size: 2rem;
  max-width: 400px;
  font-weight: 600;
  letter-spacing: 1px;
}

.text_secondary {
  color: #cccccc;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.rating_stars_container {
 width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.star_label svg {
  fill: rgb(210, 210, 210);
  width: 50px;
  height: auto;
  transition: fill 0.2s ease;
}

.rating_stars_container input {
  display: none;
}

.rating_stars_container input:hover ~ .star_label svg,
.rating_stars_container input:checked ~ .star_label svg {
  fill: #d4af37;
}

.rating_stars_container input:checked ~ .star_label svg {
  animation: slide-in-fwd-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-fwd-center {
  0% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}

.socials_container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-top: 20px;
  border-top: 1px solid rgb(150, 150, 150);
}

.social_button {
  text-decoration: none;
}

.social_button svg {
  width: 30px;
  fill: rgb(228, 228, 228);
}

.social_button:hover svg {
  fill: #d4af37;
}

.input_evaluation {
  position: relative;
  margin: 30px auto 0 auto;
  width: 400px;

  textarea{
    background-color: #ffffff68;
    width: 100%;
    height: 180px;
    padding: 8px;
    border: 0;
    outline: 0;
    color: #3d3d3d;
    resize: none;
  }
}

.rating_card .btnChat{
    margin-bottom: 20px;
    margin-top: 10px;
    background: linear-gradient(to bottom, #c5a230, #645219);
}

.closeModal{
    position: absolute;
    right: 30px; top: 30px;
    cursor: pointer;
    color: #d4af37;
}
