main{background-color: #98c0c2; position: relative;}

nav.navigation{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%; top: 10px;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 1300px;
}

.btn-interactive ul.items-menu-btn-interactive{
    display: flex;
    padding: 18px;
    border-radius: 30px;
    background-color: rgb(255 255 255 / 0.3);

    & li{
    margin: 0 15px;
    font: 0.9rem;
    color: #212B46;
    position: relative;

    &::before{
      content: "";
      width: 0;
      height: 3px;
      background-color: #D4AF37;
      display: inline-block;
      position: absolute;
      transition: 0.4s;
      left: 0; bottom: -3px;
    }

    &:hover::before{width: 80%;}

    &:hover{color: #374772;}
    }
}

/* From Uiverse.io by ryota1231 */ 
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 30px;
  border: 4px solid;
  border-color: transparent;
  font-size: 0.7rem;
  border-radius: 100px;
  font-weight: 600;
  color: #c5e5e4;
  box-shadow: 0 0 0 2px #ffffff;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: #ffffff;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #c5e5e4;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: #212B46;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: #1f387e;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px greenyellow;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

#container{width: 104% !important;}

.btn-menu{z-index: 3;}

.btn-visit{
  display: inline-block;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  line-height: 165px;
  font-size: 2.1rem;
  background-color: rgb(255 255 255 / 0.4);
  text-align: center;
  border: 1px solid #fff;
  color: #212B46;
  position: absolute;
  right: 90px;
  bottom: 90px;
  transition: 0.4s;
  letter-spacing: 1px;

  &:hover{background-color: rgb(255 255 255 / 0.6);}

}

/****** SEÇÃO DO MENU *******/

section.menu{
  width: 0;
  height: 100%;
  transition: 1s;
  overflow: hidden;
   opacity: 0; 
  background-color: #212B46;
  position: absolute;
  right: 0; top: 0;
  z-index: 2;
  padding: 30px 3%;
}

ul.items-menu{
  margin-top: 50px;

  & li{
    font-size: 5.2rem;
    margin-bottom: 10px;
    color: #c5e5e4;

    &:hover{color: #D4AF37;}
  }
}

.btn-close{
  position: absolute;
  right: 60px; top: 60px;
  z-index: 999;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

/* O círculo translúcido que segue com atraso */
.cursor-outline {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3); /* Branco translúcido */
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 50%;
  z-index: 9998;
  pointer-events: none;
  /* Centraliza o círculo em relação ao ponto */
  transform: translate(-50%, -50%);
}