:root {
  --color-primary: #ffffff;
  --color-secondary: #324e9b;

  --color-gold: #D4AF37;         
  --color-gold-deep: #b08d26;    
  --color-gold-light: #f3e5ab;   
  --color-gold-soft: #faf4d3;    
  
  --color-warning: #e67e22; 
  --color-caution: #f1c40f;

  --top: 12vh;
  --side: 10vw;
}

body {
  width: 100vw;
}

.linkLogin {
  color: var(--color-gold-light);
  text-decoration: none;
  transition: color 0.3s ease;
}

.linkLogin:hover, .linkLogin:focus {color: var(--color-primary);}

.box_msgWp{
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 2;
}

.box_msg {
  width: 350px;
  height: 80px;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
}

.wave {
  position: absolute;
  transform: rotate(90deg);
  left: -31px;
  top: 32px;
  width: 80px;
  fill: #e422003a;
}

.icon_container {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4000048;
  border-radius: 50%;
  margin-left: 8px;
}

.message_text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-grow: 1;
}

.message_text,
.sub_text {
  margin: 0;
  cursor: default;
}

.message_text {
  color: #9b2424;
  font-size: 17px;
  font-weight: 700;
}

.sub_text {
  font-size: 14px;
  color: #555;
}

.cross_icon {
  width: 18px;
  height: 18px;
  color: #555;
  cursor: pointer;
}

.headerLogin {
  right: 0;
  justify-content: end;
  align-items: center;
  padding: var(--top) var(--side);
  z-index: 3;
}

.btnBackPage{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgb(255 255 255 / 0.45);
  position: absolute;
  left: 50px; top: 50px;
  border-radius: 50%;
  z-index: 999;
  text-align: center;
  line-height: 68px;
  border: 1px solid #fff;
  transition: 0.4s;

  &:hover{background-color: rgba(255, 255, 255, 0.686);}
}

.registerWrapper {height: 2.2rem;}

.registerWrapper .newUser {
  margin-right: 4em;
  margin-left: -4em;
  color: var(--color-gold-light);
  white-space: nowrap;
}

.registerWrapper .newUser::after {
  position: absolute;
  content: "";
  right: -10%;
  top: 50%;
  width: 3em;
  height: 2px;
  background: currentColor;
  transform: translate(100%, -50%);
}

.registerWrapper a.register {font-weight: bold; color: var(--color-secondary);}

.mainLogin {
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-caution);
}

.mainLogin .heroWrapperLogIn {
  z-index: 1;
  background: var(--color-gold-deep);
  width: 40%;
  min-width: 400px;
  height: 100vh;
}

.mainLogin .heroWrapperLogIn::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 60% 80%, var(--color-gold), transparent);
}

.mainLogin .heroWrapperLogIn .hero {
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  z-index: 2;
}

.contentWrapperLogIn {
  margin-top: 190px;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 4em var(--side) 0 0;
  height: calc(100vh - var(--top));
  width: calc(60% - (2 * var(--side)));
}

.contentWrapperLogIn .welcome h1 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-secondary);
}

.contentWrapperLogIn .welcome .subtitle {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  color: var(--color-gold-soft);
}

.logIn_wrapper {flex-direction: column; margin-top: 20px;}

.logIn_wrapper .logIn {
  background: var(--color-gold-soft);
  border: 1px solid var(--color-gold-deep);
  transform-origin: right;
  transition: 0.5s ease-in-out;
  margin-bottom: 1rem;
}

.logIn_wrapper .logIn:hover,
.logIn_wrapper .logIn:focus-within {
  background: var(--color-primary);
  box-shadow: 0 3px 15px var(--color-gold-deep);
  transform: scaleX(1.1);
}

.logIn_wrapper .logIn:hover svg,
.logIn_wrapper .logIn:focus-within svg {
  transform: translate(-25%, -50%);
}

.logIn_wrapper .logIn svg:not(.pwEye) {
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}

.password svg.pwEye{
    right: 1em;
    top: 50%;
    transform: translateY(-50%); 
    cursor: pointer;
}

.logIn_wrapper .logIn input {
  height: 4em;
  padding-left: 3.5em;
  background: transparent;
  color: var(--color-secondary);
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #3e3d55;
}

.action button {
  display: flex;
  margin-top: 10px;
  padding: 1.5em 2.7em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

    svg{
    vertical-align: middle;
    top: -2px;
     margin-right: 8px;
  }

  &:hover {
    background-color: #1d3372;
    box-shadow: 0px 15px 20px rgba(44, 60, 105, 0.4);
    transform: translateY(-7px);
    }

    &:active {transform: translateY(-1px);}
}
