:root{
    --pixel50: 50px;
}

.painters{padding: 90px 0;}

.container{
    max-width: 1300px;
    padding: 0 2%;
}

.btnBackPage{
  width: var(--pixel50);
  height: var(--pixel50);
  background-color: rgb(255 255 255 / 0.45);
  left: var(--pixel50); top: var(--pixel50);
  border-radius: 50%;
  z-index: 999;
  line-height: 68px;
  border: 1px solid #fff;
  transition: 0.4s;

  &:hover{background-color: rgba(255, 255, 255, 0.686);}
}

nav.paintersNav .container{justify-content: space-between;}

h2.paintersTittle{
    font-size: 2.7rem;
    letter-spacing: 1px;
}

p.paintersDescriptionTittle{
    font-size: 1rem;
    max-width: 400px;
}

.paintersSection{margin-top: 70px;}

.painters_wp{
    justify-content: space-around;
    gap: 30px;
    margin-bottom: var(--pixel50);
}

.painters_box{
    width: 25%;
    
    figure{
        margin-bottom: 10px;

        img{object-fit: cover; border-radius: 10px;}
    }
}

h3.paintersName a{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

span.paintersDescription{font-size: 0.9rem;}


