nav.navigation{
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%; top: 10px;
  transform: translateX(-50%);
  z-index: 1;
  max-width: 1300px;
}

.btnInteractive ul.itemsMenu_btnInteractive{
    display: flex;
    padding: 18px;
    border-radius: 30px;
    background-color: rgb(255 255 255 / 0.3);
}

.btnInteractive ul.itemsMenu_btnInteractive li a{
    display: inline-block;
    margin: 0 20px;
    font: 0.9rem;
    color: #c8c8c9d8;
    position: relative;

    &::before{
      content: "";
      width: 0;
      height: 3px;
      background-color: #D4AF37;
      display: inline-block;
      position: absolute;
      transition: 0.4s;
      left: 0; bottom: -3px;
    }

    &:hover::before{width: 80%;}

    &:hover{color: #ffffff;}
}

.bgMainPainting{
    width: 100%;
    height: 115vh;
    background-color: #0a142e;
    padding: 50px;
    position: relative;
}

.txtPainting1{
    margin-top: 100px;
}

.txtPainting1, .txtPainting2{
    max-width: 400px;
    font-size: 0.9rem;
}

h3.titleTopPainting{
    text-align: center;
    margin-top: 30px;
    font-size: 2.6rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

h1.tittleTopMain{
    text-align: center;
    font-size: 7rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    span{
        color: #e5e7ebb0;
    }
}

.lines{
    text-align: center;
    position: relative;
    max-width: 400px;
    margin: auto;
}

.line1, .line2, .line3, .line4, .line5{
    width: 2px;
    height: 150px;
    background-color: #eeeeee69;
    margin-right: 10px;
    display: inline-block;
    position: absolute;
    top: -25px;
}

.line1{
    left: -40px;
    rotate: 50deg;
    top: -60px;
    height: 200px;
}

.line2{
    left: 90px;
    rotate: 30deg;
}

.line3{left: 187px;}

.line4{
    left: 290px;
    rotate: -30deg;
}

.line5{
    left: 430px;
    rotate: -50deg;
    top: -60px;
    height: 220px;
}

.wordsComplementaries{
    margin: 170px auto 0 auto;
    position: relative;
    max-width: 800px;
    font-size: 1.2rem;
    
    .word1{left: 20px;}

    .word2{left: 200px;}

    .word3{left: 350px;}

    .word4{left: 520px;}

    .word5{left: 700px;}
}

.word1, .word2, .word3, .word4, .word5{
    position: absolute;
    bottom: 0;
    color: aliceblue;
}

.txtPainting2{
    margin: 50px 0;
    float: right;
}

.img1, .img2, .img3, .img4{position: absolute;}

.img1{right: 100px; top: 120px;}

.img2{left: 90px; bottom: 100px;}

.img3{
    left: 50%; bottom: 90px;
    transform: translateX(-50%);
    object-fit: cover;
}

.img4{
    right: 100px; bottom: 90px;
}

.descriptionArt{
    margin-top: 360px;
    padding-bottom: 40px;

    .container{
        justify-content: space-between;
    }
}

.descArt1{
    .artworkName{
        font-size: 3rem;
    }

    p.creatorName{
        font-size: 0.9rem;
        color: #787878;
        margin-top: 20px;
    }
}

.descArt2{
    max-width: 400px;
}

h1.textReveal{
    font-size: 5rem;
    color: #0a142e;
    text-transform: uppercase; 
}

.scrollTextSection{
    margin-top: 80px;

    .container{
        max-width: 1500px;
    }
}

.galleryTransitionSection{
    position: relative;
    height: 85vh;
}

.boxGallery{
    overflow: hidden;
}

.category{
    padding: 4px 6px; 
    margin-bottom: 7px;
}

.titleArtWork{
    margin-bottom: 4rem;
    font-size: 3rem;
}

.slideBox{
    margin-top: 50px;
}

.slideComponent{
    margin-bottom: 60px;
}

.btnSlide{
    margin-top: 70px;
}

.infoAutorTop{
    display: flex;
    align-items: center;
    gap: 10px;
}

.autorName{
    font-size: 1.3rem;
    color: #787878;
}

.autorPicture{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
    overflow: hidden;
}

.nameTittle1{
    position: absolute;
    left: -20%; top: 12%;
    
    .titleArtWork{
        max-width: 500px;
        font-size: 9rem;
        word-break: break-all;
        line-height: 120px;
    }
}

.nameTittle2{
    position: absolute;
    right: -5%; bottom: 10%;

    .titleArtWork{
        max-width: 520px;
        font-size: 7rem;
        word-break: break-all;
        line-height: 120px;
    }
}

.nameTittle3{
    position: absolute;
    right: -15%; bottom: -7%;

    .titleArtWork{
        max-width: 520px;
        font-size: 9rem;
        word-break: break-all;
        line-height: 120px;
    }
}

.changeArtWorker button{
    padding: 12px 23px;
    position: absolute;
    left: -15%; bottom: 10%;
    background: linear-gradient(45deg, #D4AF37 30%, #d4a611);
    display: flex;
    box-shadow: 2px 3px 5px rgba(142, 142, 142, 0.747);
}

.modalBoxPainting{
    min-height: 500px;
    min-width: 700px;
    padding: 3rem;
}

.tittleBoxPainting{
    border-bottom: 2px solid #bfbfbfc0;
    padding-bottom: 20px;
    margin-bottom: 20px;

    h2{
        letter-spacing: 1px;
    }
}

.paintingBox{
    margin-bottom: 30px;

    input[type=text]{
        margin-top: 4px;
        height: 44px;
        padding-left: 8px;
    }
}

.tittleResultsPaintings{
    margin-bottom: 10px;
    color: #0f2457;
}

.resultsPainting{
    margin-bottom: 20px;
}

.initialsPainting{
    margin-right: 10px;
}