:root {
  --color-primary-signUp: #ffffff;
  --color-secondary-signUp: #D4AF37;

  --color-blue-signUp: #212b46;         
  --color-blue-deep-singUp: #1e49be;    
  --color-blue-light-singUp: #96adec;   
  --color-blue-soft-singUp: #c9d5f7;    
  
  --color-warning-signUp: #2757dc; 
  --color-caution-signUp: #0c47ea;

  --top: 12vh;
  --side: 10vw;
}

.linksSign {
  color: var(--color-blue-light-singUp);
  text-decoration: none;
  transition: color 0.3s ease;
}

.linksSignUp:hover, .linkSignUp:focus {color: var(--color-primary-signUp);}

.headerSignUp {
  right: 0;
  justify-content: end;
  align-items: center;
  padding: var(--top) var(--side);
  z-index: 3;
}

.btnBackPage{
  width: 50px;
  height: 50px;
  background-color: rgb(255 255 255 / 0.45);
  left: 50px; top: 50px;
  border-radius: 50%;
  z-index: 999;
  text-align: center;
  line-height: 68px;
  border: 1px solid #fff;
  transition: 0.4s;

  &:hover{background-color: rgba(255, 255, 255, 0.686);}
}

.registerWrapperSignUp {height: 2.2rem;}

.registerWrapperSignUp .newUserSignUp {
  margin-right: 4.8em;
  margin-left: -4em;
  color: var(--color-blue-light-singUp);
  white-space: nowrap;
}

.registerWrapperSignUp .newUserSignUp::after {
  position: absolute;
  content: "";
  right: -10%;
  top: 50%;
  width: 3em;
  height: 2px;
  background: currentColor;
  transform: translate(100%, -50%);
}

.registerWrapperSignUp a.register {
  font-weight: bold;
  color: var(--color-blue-light-singUp);
}

.signUpMain{
  overflow: hidden;
  background: var(--color-warning-signUp) ;
  color: var(--color-primary-signUp);
}

.heroWrapperSignUp {
  z-index: 1;
  background: var(--color-blue-deep-singUp);
  width: 40%;
  min-width: 400px;
  height: 100vh;
}

.signUpMain .heroWrapperSignUp::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 60% 80%, var(--color-gold),-singUp transparent);
}

.signUpMain .heroWrapperSignUp .hero {
  bottom: -5vh;
  left: 5vw;
  z-index: 2;
  height: 90vh;
}

.contentWrapperSignUp {
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 4em var(--side) 0 0;
  height: calc(100vh - var(--top));
  width: calc(60% - (2 * var(--side)));
}

.contentWrapperSignUp .welcome h1 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-secondary-signUp);
}

.contentWrapperSignUp .welcome .subtitle {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.signUp_wrapper {flex-direction: column;}

.signUp_wrapper .signUp {
  background: var(--color-blue-soft-singUp);
  border: 1px solid var(--color-blue-deep-singUp);
  transform-origin: right;
  transition: 0.5s ease-in-out;
  margin-bottom: 1rem;
}

.signUp_wrapper .signUp:hover,
.signUp_wrapper .signUp:focus-within {
  background: var(--color-primary-signUp);
  box-shadow: 0 3px 15px var(--color-blue-deep-singUp);
  transform: scaleX(1.1);
}

.signUp_wrapper .signUp:hover svg,
.signUp_wrapper .signUp:focus-within svg {
  transform: translate(-25%, -50%);
}

.signUp_wrapper .signUp svg:not(.pwEye) {
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}

.password svg.pwEye{
   position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%); 
  cursor: pointer;
}

.signUp_wrapper .signUp input {
  height: 4em;
  padding-left: 3.5em;
  background: transparent;
  color: var(--color-secondary-signUp);
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #3e3d55;
}

.action button {
  padding: 1.3em 2.7em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;

    svg{
    vertical-align: middle;
    top: -2px;
  }

  &:hover {
    background-color: #9e7e12;
    box-shadow: 0px 15px 20px rgba(44, 60, 105, 0.4);
    transform: translateY(-7px);
    }

    &:active {transform: translateY(-1px);}
}
