:root {
  --color-primary-signUp: #ffffff;
  --color-secondary-signUp: #D4AF37;

  --color-blue-signUp: #212b46;         
  --color-blue-deep-singUp: #1e49be;    
  --color-blue-light-singUp: #96adec;   
  --color-blue-soft-singUp: #c9d5f7;    
  
  --color-warning-signUp: #2757dc; 
  --color-caution-signUp: #0c47ea;

  --top: 12vh;
  --side: 10vw;
}

body {overflow-x: hidden;}

.linksSign {
  color: var(--color-blue-light-singUp);
  text-decoration: none;
  transition: color 0.3s ease;
}

.linksSignUp:hover, .linkSignUp:focus {color: var(--color-primary-signUp);}

.headerSignUp {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: var(--top) var(--side);
  z-index: 3;
}

.btnBackPage{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgb(255 255 255 / 0.45);
  position: absolute;
  left: 50px; top: 50px;
  border-radius: 50%;
  z-index: 999;
  text-align: center;
  line-height: 68px;
  border: 1px solid #fff;
  transition: 0.4s;

  &:hover{background-color: rgba(255, 255, 255, 0.686);}
}

.registerWrapperSignUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.2rem;
}

.registerWrapperSignUp .newUserSignUp {
  position: relative;
  margin-right: 4.8em;
  margin-left: -4em;
  color: var(--color-blue-light-singUp);
  white-space: nowrap;
}

.registerWrapperSignUp .newUserSignUp::after {
  position: absolute;
  content: "";
  right: -10%;
  top: 50%;
  width: 3em;
  height: 2px;
  background: currentColor;
  transform: translate(100%, -50%);
}

.registerWrapperSignUp a.register {
  font-weight: bold;
  color: var(--color-blue-light-singUp);
}

.signUpMain{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  position: relative;
  background: var(--color-warning-signUp) ;
  color: var(--color-primary-signUp);
}

.signUpMain .heroWrapperSignUp {
  position: relative;
  z-index: 1;
  background: var(--color-blue-deep-singUp);
  width: 40%;
  min-width: 400px;
  height: 100vh;
}

.signUpMain .heroWrapperSignUp::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 60% 80%, var(--color-gold),-singUp transparent);
}

.signUpMain .heroWrapperSignUp .hero {
  position: absolute;
  bottom: -5vh;
  left: 5vw;
  z-index: 2;
  height: 90vh;
}

.contentWrapperSignUp {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  padding: 4em var(--side) 0 0;
  height: calc(100vh - var(--top));
  width: calc(60% - (2 * var(--side)));
}

.contentWrapperSignUp > div {
  width: 100%;
  margin-bottom: 3em;
}

.contentWrapperSignUp .welcome h1 {
  font-size: 3.4rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--color-secondary-signUp);
}

.contentWrapperSignUp .welcome .subtitle {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2;
  color: #dfdede;
}

.signUp_wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.signUp_wrapper .signUp {
  background: var(--color-blue-soft-singUp);
  border: 1px solid var(--color-blue-deep-singUp);
  transform-origin: right;
  transition: 0.5s ease-in-out;
  position: relative;
  margin-bottom: 1rem;
}

.signUp_wrapper .signUp:hover,
.signUp_wrapper .signUp:focus-within {
  background: var(--color-primary-signUp);
  box-shadow: 0 3px 15px var(--color-blue-deep-singUp);
  transform: scaleX(1.1);
}

.signUp_wrapper .signUp:hover svg,
.signUp_wrapper .signUp:focus-within svg {
  transform: translate(-25%, -50%);
}

.signUp_wrapper .signUp svg {
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.5s ease-in-out;
}

.signUp_wrapper .signUp input {
  width: 100%;
  height: 4em;
  padding-left: 3.5em;
  background: transparent;
  color: var(--color-secondary-signUp);
  border: 0;
  outline: 0;
  font-size: 1rem;
  color: #3e3d55;
}

.action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action button {
  position: relative;
  overflow: hidden;
  background: var(--color-secondary-signUp);
  padding: 1.2em 2.5em;
  color: var(--color-primary-signUp);
  outline: 0;
  border: 0;
  box-shadow: 0 3px 10px var(--color-secondary-signUp);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  font-size: 1rem;
  letter-spacing: 1px;
}

.action button:hover, .action button:focus {
  background: #b39121;
  letter-spacing: 2px;
  color: var(--color-primary-signUp);
}

a.forgotPassword{color: var(--color-blue-light-singUp);}